<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://kit.fontawesome.com/680f28dc17.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png"  href="media/logo2.svg" />
   {{!-- STYLESHEET --}}

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="css/desktop.css" />
  <link rel="stylesheet" href="css/phone.css" media="screen and (max-width:900px) ">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet" />

  <title>
    Karolya | Home </title>

</head>

<body>
  {{!-- modal --}}
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Any Suggestion for us?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 <form action="/index" method="POST" >
      <div class="modal-body">
              <input type="femail" class="form-control" id="femail" name="femail" placeholder="Email Address" style="margin-bottom: 12px;" required>
          <textarea name="feed" class="form-control" id="feed" cols="30" rows="10"  placeholder="Write your feedback here!" required ></textarea>
            
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  id="close" data-bs-dismiss="modal">Close</button>
        <button type="submit"  class="btn btn-primary" id="submit" > Submit</button>
      </div> 
  </form>
    </div>
  </div>
</div>
{{!-- modal --}}
  <div class="background">
      {{>navigation}}
    <section id="home">
      <div>
        <h1>
          Build The Community <br />
          Your Fans Will Love
        </h1>

        <p>
          Huddle re-imagines the way we build communities. You have a voice, but
          so does your audience. Create connections with your users as you
          engage in genuine discussion.
        </p>
        <button class="button2"> <a href="register"> Register</a></button>
      </div>
      <div class="home-image">
        <img src="media/illustration-mockups.svg" alt="this is image" />
      </div>
    </section>
  </div>
 <section  onload="showTime()" class="clock" >   
   
       <div id="time1" class="odd" ></div><span>:</span>
    <div id="time2" class="even" ></div><span>:</span>
    <div id="time3" class="odd" ></div>
    <div id="time4" class="even" ></div>
    
</section>  
  <section id="content">
    <div>
      <h1>Grow Together</h1>
      <p>
        Generate meaningful discussions with your audience and build a strong,
        loyal community. Think of the insightful conversations you miss out on
        with a feedback form.
      </p>
    </div>
    <div class="content-image">
      <img src="media/illustration-grow-together.svg" alt="this is image" />
    </div>
  </section>
  <section id="content1">

      <img src="media/illustration-flowing-conversation.svg" alt="this is image" />

    <div>
      <h1>Flowing Conversations</h1>
      <p>
        You wouldn't paginate a conversation in real life, so why do it
        online? Our threads have just-in-time loading for a more natural flow.
      </p>
    </div>
  </section>
  <section id="content2">
    <div>
      <h1>Your Users</h1>
      <p>
        It takes no time at all to integrate Huddle with your app's
        authentication solution. This means, once signed in to your app, your
        users can start chatting immediately.
      </p>
    </div>
    <div class="content-image">
      <img src="media/illustration-your-users.svg" alt="this is image" />
    </div>
  </section>
  <section id="feedback">
    <div>
      <h1>Any Suggestion for us?</h1>

       <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Feedback
</button>

    </div>
  </section>
{{>footer}}

</body>
<script src="js/time.js" >

</script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>