  <footer id="footer">
    <div class="footer-logo">

      <h1>₭₳Ɽ<i class="fas fa-radiation-alt  fa-spin spinner "></i>ⱠɎ₳</h1>
     
    </div>
    <section id="footerbox">
      <div class="leftmost">
        <div>
          <span><img src="media/icon-location.svg" alt=""></span>
         New Delhi , INDIA 
        </div>

        {{!-- <div class="phno."> <span> <img class="location" src="media/icon-phone.svg" alt=""></span>+1-543-123-4567</div> --}}
        <div> <span> <img src="media/icon-email.svg" alt=""> </span>lotus</div>
      </div>
      <div class="left">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">What We Do</a></li>
          <li><a href="#">FAQ</a></li>

        </ul>
      </div>
      <div class="right">
        <ul>
          <li><a href="#">Career</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="rightmost">
        <p class="icon"> <a href="https://github.com/kamalkarolya"><i class="fab fa-github"></i></a></p>
        <p class="icon"> <a href="https://www.instagram.com/thelotuskarolya/"><i class="fab fa-instagram"></i></a></p>
        <p class="icon"> <a href="https://twitter.com/KamalKarolya"><i class="fab fa-twitter"></i></a></p>
      </div>
    </section>
    <div class="copyright">
      &copy; Copyright 2021 Karolya. All rights reserved.</div>
  </footer>