
<nav class="navbar navbar-expand-lg navbar-light trans">
  <div class="container-fluid">
          <div id="logo">

        <h1>₭₳Ɽ<i class="fas fa-radiation-alt  fa-spin spinner "></i>ⱠɎ₳</h1>

 {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}

      </div>
     <div class="hamburger"  ><i class="fas fa-bars"></i>
         {{!-- <img  src="media/icon-hamburger.svg" alt=""> --}}
      </div>
      <div class="close">

      <img  src="media/icon-close.svg" alt="">
      </div>
    {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> --}}
    <div class="collapse  navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="resource">Resource</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="register">Join</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="login">Login</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

