<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <script src="https://kit.fontawesome.com/680f28dc17.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png"  href="media/logo2.svg" />
   {{!-- STYLESHEET --}}
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/desktop.css" />
  <link rel="stylesheet" href="css/phone.css" media="screen and (max-width:900px) ">
  <title>
    Karolya | Home </title>

</head>

<body>
  <div class="background">
    <header>
      <div id="logo">

        <h1>₭₳Ɽ<i class="fas fa-radiation-alt  fa-spin spinner "></i>ⱠɎ₳</h1>



      </div>
      <div>
        <button id="btn"> <a href="register"> Try It Free</a></button>
      </div>
    </header>
    <section id="home">
      <div>
        <h1>
          Build The Community <br />
          Your Fans Will Love
        </h1>

        <p>
          Huddle re-imagines the way we build communities. You have a voice, but
          so does your audience. Create connections with your users as you
          engage in genuine discussion.
        </p>
        <button class="button2"> <a href="register"> Register</a></button>
      </div>
      <div class="home-image">
        <img src="media/illustration-mockups.svg" alt="this is image" />
      </div>
    </section>
  </div>
  <section id="content">
    <div>
      <h1>Grow Together</h1>
      <p>
        Generate meaningful discussions with your audience and build a strong,
        loyal community. Think of the insightful conversations you miss out on
        with a feedback form.
      </p>
    </div>
    <div class="content-image">
      <img src="media/illustration-grow-together.svg" alt="this is image" />
    </div>
  </section>
  <section id="content1">
    <div>
      <img src="media/illustration-flowing-conversation.svg" alt="this is image" />
    </div>
    <div>
      <h1>Flowing Conversations</h1>
      <p>
        You wouldn't paginate a conversation in real life, so why do it
        online? Our threads have just-in-time loading for a more natural flow.
      </p>
    </div>
  </section>
  <section id="content2">
    <div>
      <h1>Your Users</h1>
      <p>
        It takes no time at all to integrate Huddle with your app's
        authentication solution. This means, once signed in to your app, your
        users can start chatting immediately.
      </p>
    </div>
    <div class="content-image">
      <img src="media/illustration-your-users.svg" alt="this is image" />
    </div>
  </section>
  <section id="feedback">
    <div>
      <h1>Any Suggestion for us?</h1>
      <button class="btn3">Give Feedback</button>
    </div>
  </section>



  <footer id="footer">
    <div class="footer-logo">

      <h1>₭₳Ɽ<i class="fas fa-radiation-alt  fa-spin spinner "></i>ⱠɎ₳</h1>
     
    </div>
    <section id="footerbox">
      <div class="leftmost">
        <div>
          <span><img src="media/icon-location.svg" alt=""></span>
         New Delhi , INDIA 
        </div>

        {{!-- <div class="phno."> <span> <img class="location" src="media/icon-phone.svg" alt=""></span>+1-543-123-4567</div> --}}
        <div> <span> <img src="media/icon-email.svg" alt=""> </span>lotuskarolya@thelotuskarolya.com</div>
      </div>
      <div class="left">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">What We Do</a></li>
          <li><a href="#">FAQ</a></li>

        </ul>
      </div>
      <div class="right">
        <ul>
          <li><a href="#">Career</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="rightmost">
        <p class="icon"> <a href="https://github.com/kamalkarolya"><i class="fab fa-github"></i></a></p>
        <p class="icon"> <a href="https://www.instagram.com/thelotuskarolya/"><i class="fab fa-instagram"></i></a></p>
        <p class="icon"> <a href="https://twitter.com/KamalKarolya"><i class="fab fa-twitter"></i></a></p>
      </div>
    </section>
    <div class="copyright">
      &copy; Copyright 2021 Karolya. All rights reserved.</div>
  </footer>
</body>

</html>