<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/thanks.css">
  
   <link rel="icon" type="image/png"  href="media/logo2.svg" />
    <script src="https://kit.fontawesome.com/680f28dc17.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />

    <title>Registration Successfully</title>
</head>

<body>
   <div id="message" >
      <h1> <i class="fas fa-grin-wink"></i> Thank you for filling out your information!</h1>  <br>
      <h4>
We’ve sent you an email with [the coupon code/your file download link/your voucher] at the email address you provided. <br> Please enjoy, and let us know if there’s anything else we can help you with.
</h4>
 <br> <h5>The Karolya Team</h5> 
   </div>
</body>
</html>