body{
  font-family: "Open Sans";
  background-image: url(../media/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%)!important;
}

p ,ul{

  margin-bottom: 0rem!important;
}
ul{
  padding-left: 0rem!important;
}
.header h1{
  filter: drop-shadow(6px 4px 8px grey);
  font-size: 3rem;
  font-weight: 700;
}

.container {
  max-width: 960px;
}
.head{

  display: flex;
  color:black ;
  align-items: center;
}
.header{
 
  margin-left: 6vw;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mb-3{
  font-weight: 700;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.spinner{
  background-image: linear-gradient( 180deg , #2af598 0%, #009efd 100%);
  /* animation: colorChange 4s ease-in 0s infinite alternate; */
 
  font-size: 90%;
   /* background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;  */
   border-radius:224px ;
}


/* FOOTER */
#footer {
  line-height: 1.35!important;
  margin-top: 15%;
  background-color: hsl(192, 100%, 9%);
  position: absolute;
  z-index: -1;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  padding: 35px 25px 25px 25px;
  margin: 0vw 3.22vw;
  
}
.footer-logo h1{
  font-size: 3rem;
  font-weight: 700;
}
#footerbox {
  display: flex;
  margin: 0vw 3.22vw;
}
#footerbox div {
  padding: 1.09vw;
}
.leftmost {
  width: 40%;
}
.left,
.right {
  width: 15%;
}
#footerbox li {
  padding: 1.09vw 1.09vw 0.58vw 1.09vw;
  list-style: none;
}

#footer div ul li a {
  color: white;
  text-decoration: none;
}
#footer div ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#footerbox div div span {
  padding: 0.21vw 1.09vw 0vw 0vw;
}
#footerbox div div {
  display: flex;
}
.rightmost {
  align-items: flex-start;
  display: flex;
}
#footerbox div p {
  padding: 1.09vw 0.07vw 1.09vw 1.09vw;
  border-radius: 15px;
}
#footerbox div p a:hover {
  color: hsl(322, 100%, 66%);
  cursor: pointer;
}
.copyright {
  font-size: 0.7rem;
  padding: 5px;
  text-align: end;
}
#footerbox div p a {
  padding: 3px;
  padding: 0.21vw;
  color: white;
  border: 1px solid white;
  border-radius: 31px;
}
#footerbox div p a i {
  width: 25px;
  text-align: center;
}
@media (max-width: 900px) {

  .head{
    justify-content: center;
  }
     /* FOOTER */
     
#footer{
  font-size: 16px;
}
#footerbox{
  flex-direction: column;

}
#footerbox div p{
  
  padding: 15px 1px 15px 15px;
}
#footerbox div div span{
  padding: 3px 15px 0px 0px;
}
.footer-logo{
  margin: 0px;
  padding: 35px 25px 25px 25px;
}
.footer-logo img{
  width: 39vw;
}
.leftmost {
  width: 85%;
}
.left,
.right {
  width: auto;
}
 /* FOOTER */
.copyright{
  padding: 15px 15px 30px 15px ;
  text-align: center;
}
.rightmost{
  align-self: center;
}
#footerbox div p a{
  padding: 7px;
}
#footerbox div div span img{
  width: 19px;
}

}
