body{
  font-family: "Open Sans";
  background-image: url(../media/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%)!important;
}

p ,ul{

  margin-bottom: 0rem!important;
}
ul{
  padding-left: 0rem!important;
}
.header h1{
  filter: drop-shadow(6px 4px 8px grey);
  font-size: 3rem;
  font-weight: 700;
}

.container {
  max-width: 960px;
}
.head{

  display: flex;
  color:black ;
  align-items: center;
}
.header{
 
  margin-left: 6vw;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mb-3{
  font-weight: 700;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.spinner{
  background-image: linear-gradient( 180deg , #2af598 0%, #009efd 100%);
    font-size: 90%;
   border-radius:224px ;
}


/* FOOTER */
#footer{
  margin-top: 10%!important;
}
.footer-logo{
  /* padding: 35px 25px 25px 25px !important ; */
  padding: 0 25px 0px 25px !important;
}
.btn-primary:hover {
  background-color: #004dbd!important;

}