body{
    font-family: "Open Sans";
  background-image: url(../media/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%)!important;
}
.heading{
  display: flex;
  margin: 37px;
  justify-content: center;
}
/* FOOTER */
#footer{
  margin-top: 10%!important;
}
.footer-logo{
  padding: 0 25px 0px 25px !important;
}
.box{
  padding-bottom: 10vw;
  margin: auto;
    width: 80%;
    display: flex;
    text-align: justify;
}